.headings, .lasagna {

  background-color: antiquewhite;
  text-align: start;
  padding:10px;
  margin-left:10px;
  margin-right:250px;

}
#bdy .lasagna{

  color:cyan;
  margin-left: 100px;
  margin-right:500px;
}
.lasagna{
  background-color: darkgray;
}

#om{
  color:bisque ;
}
